@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  background: #d9b8b8;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 0px;
  letter-spacing: -2px;
}

.text-area {
  width: 100%;
  text-align: center;
}

textarea {
  width: 95%;
  border-radius: 10px;
  padding: 10px ;
  border: solid 2px #ffffff;
  background-color: #f0f0f0;
}

input[type="file"] {
  padding: 10px;
}

button {
  margin: 15px 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #c17979;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.fa-solid {
  font-size: 40px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.fa-solid:hover {
  color: #c17979;
  cursor: pointer;
}



#results {
  margin-top: 20px;
  background: #d9b8b8;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: #eee;
}

.enough { background: #d4edda; }
.notenough { background: #f8d7da; }